{% extends "base.html" %}

{% block content %}

<h1>Грузим CSV!</h1>

{% if soap_body %}
    <h2>SOAP Request 📄</h2>
    <pre><code id="soapRequest"
               class="language-xml">{{ soap_body | e | trim }}</code></pre>
{% endif %}

{% if soap_response %}
{% if success %}
        <h2>SOAP Response 🟢</h2>
{% else %}
        <h2>SOAP Response 🔴</h2>
{% endif %}
    <pre><code id="soapResponse"
               class="language-xml">{{ soap_response | e | trim }}</code></pre>
{% endif %}



<div id="buttonContainer"
     style="display: flex; justify-content: space-between; margin-top: 20px;">
	<button class="redButton" id="nextButton"
	        onclick="window.location.href='/files'">На главную 🧼</button>
	{% if download_link %}
    <a href="{{ download_link }}">
        <button class="greenButton">Загрузить CSV файл 📥</button>
    </a>
{% endif %}
</div>

<button class="floating-button" id="logoutButton">На выход! 🚪</button>
<script>
    document.getElementById('logoutButton').addEventListener('click', function () {
	    document.cookie.split(';').forEach(function (c) {
		    document.cookie = c.trim().split('=')[0] + '=;expires=' + new Date(0).toUTCString() + ';path=/';
	    });
	    window.location.href = "/login";
    });
</script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>

{% endblock %}
