{% extends "base.html" %}

{% block content %}
<h1 id="filesHeader">Files</h1>
<p id="selectFile">Выберите файл для загрузки:</p>

<form id="uploadForm" action="/files" method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" id="fileInput" required>
    <button type="submit">Загрузить файл</button>
</form>

{% if soap_body %}
    <h2>SOAP Request 👤</h2>
    <pre><code id="soapRequest"
               class="language-xml">{{ soap_body | e | trim }}</code></pre>
{% endif %}

{% if soap_response %}
{% if success == True %}
        <h2>SOAP Response 🟢</h2>
{% else %}
        <h2>SOAP Response 🔴</h2>
{% endif %}
    <pre><code id="soapResponse"
               class="language-xml">{{ soap_response | e }}</code></pre>
	<script>
        document.getElementById('uploadForm').style.display = 'none';
        document.getElementById('selectFile').style.display = 'none';
        document.getElementById('filesHeader').style.display = 'none';
    </script>
{% endif %}

{% if soap_response %}
	<div id="buttonContainer"
	     style="display: flex; justify-content: space-between; margin-top: 20px;">
        <button class="redButton" id="getBackButton"
                onclick="backToMainPage()">Назад 🔙</button>
	</div>
{% endif %}

<button class="floating-button" id="logoutButton">На выход! 🚪</button>
<script>
    document.getElementById('logoutButton').addEventListener('click', function () {
	    document.cookie.split(';').forEach(function (c) {
		    document.cookie = c.trim().split('=')[0] + '=;expires=' + new Date(0).toUTCString() + ';path=/';
	    });
	    window.location.href = "/login";
    });
</script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script>
    function backToMainPage() {
	    window.location.href = '/files';
    }
</script>

{% endblock %}
